@import '../utilities/variables';

.social-widget {
  display: flex;
  align-items: center;
  border: 2px solid $main-border-color;
  border-radius: 5px;
  background-color: $main-background-color;

  padding: 0 10px;
  margin: 10px 0;

  & aside {
    height: 54px;
    width: 54px;
    margin-right: 15px;
  }
}